# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Configuration files
configs.py  # Assuming it contains sensitive information

# IDE/editor files
.vscode/
.idea/

# Logs
*.log

# Environment variable files
.env

# Miscellaneous
.DS_Store
*.egg-info/
*.egg
